// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 60rem;
}
