.header {
  background-color: $blue;

  &__contents {
    padding: 2 * $gutter 0;
    text-align: center;

    &--title {
      margin-top: 0;
    }

    &--blurb {
      margin-top: 0;
      color: $white;
    }
  }
}
