.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: $gutter;
  background-color: $blue;

  &__item {
    margin: 0;

    &--title {
      font-size: 3rem;
    }

    &--blurb {
      margin: 0;
      font-size: 1rem;
    }
  }
}
