.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4 * $gutter;
  background-color: $blue;

  &__item {
    margin: 0.5 * $gutter;
    text-transform: uppercase;

    &--title {
      font-size: 3rem;
    }

    &--blurb {
      color: $white;
      font-size: 1rem;
    }
  }
}
