.navbar {
  background: $black;
  color: $white;

  &__list {
    display: flex;
    justify-content: center;
    width: 100%;

    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc((0.75 * #{$max-content-width}) / 4);
      margin: 0;
    }
  }
}
