.projects {
  background: #fe8cca;

  &__heading {
    text-align: center;
  }

  &__item {
    background: #5d6318;
  }
}

.item__text {
  background: #a2d5e2;
}

.item__screen {
  background: #5f78b5;
}
