.projects-main {
  flex-grow: 1;
  margin: $gutter 0;

  &__row {
    width: 100%;

    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.even {
  display: flex;
  flex-direction: row-reverse;
}

.odd {
  display: flex;
}

.project__image {
  width: 30%;
  min-width: $min-content-width;

  &--img {
    width: 100%;
  }
}

.project__description {
  text-align: justify;
}
