.projects {
  background: #f0e771;

  &__heading {
    text-align: center;
  }

  &__item {
    background: #9a71ec;
    display: flex;
    flex-direction: row;
    width: 100%;

    &--even {
      flex-direction: row-reverse;
    }
  }
}

.item__text {
  width: 50%;
}

.item__screen {
  width: 50%;

  &--img {
    width: 100%;
  }
}
