.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background: $black;
  color: $white;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: $gutter;

    &--logo {
      width: 100%;
    }
  }

}
